.button {
	position: relative;

	display: inline-block;

	cursor: pointer;
	transition: all 0.2s ease;
	text-align: center;
	text-decoration: none;

	border: none;
	border-radius: 4px;
	outline: none;

	font-family: var(--font-medium);
}

.primary {
	color: var(--white);
	border: 1px solid var(--primary);
	background-color: var(--primary);
}

.primary:hover {
	filter: brightness(110%);
}

.primaryOrange {
	color: var(--white);
	border: 1px solid var(--accent-orange);
	background-color: var(--accent-orange);
}

.primaryOrange:hover {
	filter: brightness(110%);
}

.primaryGreen {
	color: var(--white);
	border: 1px solid var(--accent-green);
	background-color: var(--accent-green);
}

.primaryGreen:hover {
	filter: brightness(110%);
}

.primaryYellow {
	color: var(--white);
	border: 1px solid var(--accent-yellow);
	background-color: var(--accent-yellow);
}

.primaryYellow:hover {
	filter: brightness(110%);
}

.ghost {
	color: var(--primary);
	border: 1px solid var(--primary);
	background-color: transparent;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.ghostOrange {
	color: var(--accent-orange);
	border: 1px solid var(--accent-orange);
	background-color: transparent;
}

.ghostOrange:hover {
	color: var(--white);
	background-color: var(--accent-orange);
}

.ghostGreen {
	color: var(--accent-green);
	border: 1px solid var(--accent-green);
	background-color: transparent;
}

.ghostGreen:hover {
	color: var(--white);
	background-color: var(--accent-green);
}

.ghostYellow {
	color: var(--accent-yellow);
	border: 1px solid var(--accent-yellow);
	background-color: transparent;
}

.ghostYellow:hover {
	color: var(--white);
	background-color: var(--accent-yellow);
}

.s {
	padding: 7px 9px;

	font-size: 13px;
}

.m {
	padding: 9px 19px;

	font-size: 14px;
}

.l {
	padding: 12px 18px;

	font-size: 16px;
}

.block {
	display: block !important;

	width: 100%;
}
