@import url("_libs.css");
@import url("_fonts.css");
@import url("_vars.css");

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	position: relative;

	overflow-x: hidden;

	min-width: 320px;

	opacity: 1;
	color: var(--dark);

	font-family: var(--font-regular);
	font-size: 16px;
	line-height: 1.65;
}

a {
	text-decoration: none;
}
