.container {
	padding: 0 2rem;
}

.main {
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: column;
	justify-content: center;

	min-height: 100vh;
	padding: 4rem 0;
}

.title a {
	text-decoration: none;

	color: #0070F3;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;

	text-align: center;

	font-size: 4rem;
	line-height: 1.15;
}
